/* General CSS */

body {

	padding: 0px;

	margin: 0px;

	background-color:#00D96C;

	color: #5d6063;

	font-family: Arial, Tahoma, Verdana;

	font-size: 13px;

}

img {

	border: 0px;

	padding: 0px;

	margin: 0px;

}

/* Site Container */

.site_container {

	border: 7px solid #FFF; 

	width: 1100px;

	background-color:#FFFFFF; 

	margin-top:10px;

}

/* Header Box CSS */

#search_box{

	float:right;

}

.header {

	height: 138px;

	background-image: url('images/header.jpg');

	background-position: left;

	background-repeat: no-repeat;

	background-color: #2F820C;

	text-align:left;

	margin-top:25px;

	margin-top:0px;

}

.login{

	border:1px solid #00D96C;

	width: 150px; 

}

.header_title{

	height: 78px; 

	padding-left:15px; 

	float:left;width:750px;

}

.header_title h1 {

    color: #FFF;

    font-size: 44px;

	margin-top: 15px;

}

.header_title h1 {

    color: #FFF;

    font-size: 44px;

	margin-top: 15px;

}

.advanced_link{

	padding-top: 5px;float:left;

}

.header_search_box{

	height: 78px; 

	float:right; 

	width:28%;

	text-align:right;

	padding-top:25px;

}

.search_container{

	height:30px; 

	float:left;

}

.search_container_button{

	height:30px; 

	float:left;

}

/* Header navigation Menu */

.top_menu {

	height: 63px; color: #FFF; 

	padding-left: 15px;

	margin-top:22px; 

	height:30px; 

	vertical-align:bottom; 

	float:left;

}

.menu_links{

	float: left;

}

.pading{

	padding: 10px;

}

.pading_bottom_5px{

	padding-bottom: 5px;

}

.seperator {

	border-top: 7px solid #e9e9e9; 

	background-color: #FFF;

}

/* Left Column CSS*/

#left_column{

	width:250px; 

	float:left; 

	text-align:left;

}

.td_left {

	width: 250px; 

	border-right: 7px solid #e9e9e9;

}

.left_menu_divider {

	border-bottom: 1px solid #fd740c;

}

.addthis_menu{

	padding-top: 10px; 

	padding-left: 30px;

}

/* Right Column CSS */

#right_column{

	 float:left; width:825px; 

	 text-align:left;

	 padding-left:20px;

	 padding-top:25px;

}

.td_top {

	border-top: 7px solid #e9e9e9; 

	background-color: #FFF;

}

.left_menu_divider {

	border-bottom: 1px solid #fd740c;

}

/* Content CSS */

.listing_area {

	width: 100%; 

	background-color: #9c9c9c; 

	border-top: 7px solid #e9e9e9;

}

.new_listing {

	font-size: 14px; 

	color: #FFF; 

	font-weight: bold;

}

.search {

	width: 250px; 

	border: 1px solid #FFF; 

	height: 26px; 

	color: #9c9c9c;

}

a.top, a.top:hover, a.top:active {

	color: #FFF;

	text-decoration: none;

	font-size: 16px;

	height: 28px;

	display: block;

	margin-right: 25px;

}

a.top:hover {

	text-decoration: none;

	font-size: 16px;

	color: #FFF;

	height: 28px;

	display: block;

	margin-right: 25px;

	background-image: url('images/menu.gif');

	background-repeat: no-repeat;

	background-position: bottom center;

}

a.top:visited {

	color: #FFF;

	font-size: 16px;

	text-decoration: none;

	height: 28px;

	display: block;

	margin-right: 25px;

}

a.top, a.top:active, a.top:visited {

padding-top:10px;

}

a, a:hover, a:active {

	color: #5d6063;

	text-decoration: underline;

	font-size: 13px;

}

a:hover {

	text-decoration: none;

	font-size: 13px;

	color: #5d6063;

}

a:visited {

	color: #5d6063;

	font-size: 13px;

	text-decoration: underline;

}

a.mc, a.mc:hover, a.mc:active {

	color: #fd670b;

	text-decoration: underline;

	font-size: 13px;

}

a.mc:hover {

	text-decoration: none;

	font-size: 13px;

	color: #fd670b;

}

a.mc:visited {

	color: #fd670b;

	font-size: 13px;

	text-decoration: underline;

}

a.wh, a.wh:hover, a.wh:active {

	color: #FFF;

	text-decoration: underline;

	font-size: 13px;

}

a.wh:hover {

	text-decoration: none;

	font-size: 13px;

	color: #FFF;

}

a.wh:visited {

	color: #FFF;

	font-size: 13px;

	text-decoration: underline;

}

a.bot, a.bot:hover, a.bot:active {

	color: #FFF;

	text-decoration: underline;

	font-size: 13px;

	margin-right: 20px;

}

a.bot:hover {

	text-decoration: none;

	font-size: 13px;

	color: #FFF;

	margin-right: 20px;

}

a.bot:visited {

	color: #FFF;

	font-size: 13px;

	text-decoration: underline;

	margin-right: 20px;

}

a.lmenu, a.lmenu:hover, a.lmenu:active {

color: #FFF;

text-decoration: none;

font-size: 13px;

width: 241px;


padding-left: 10px;

display: block;

background-color: #2F820C;

    /* height: 25px; */
    padding-top: 4px;
    padding-bottom: 4px;

}

a.lmenu:visited {

color: #FFF;

font-size: 13px;

text-decoration: none;

width: 241px;

height: 25px;

padding-left: 10px;

display: block;

background-color: #2F820C;

padding-top: 4px;

}

a.lmenu:hover {

text-decoration: none;

font-size: 13px;

color: #787777;

width: 241px;

height: 25px;

padding-left: 10px;

display: block;

background-color: #FFF;

padding-top: 4px;

}

.mc {

	color: #fd670b;

}

.bc {

	border: 1px solid #fd670b;

	border-collapse: collapse;

	padding: 4px;

}

.bc2 {

	border: 2px solid #fd670b;

	border-collapse: collapse;

	padding: 4px;

	background-color: #EEE;

}

.title, h2 {

	font-weight: bold;

	font-size: 16px;

	padding-bottom: 10px;

	color: #2F820C;

}

.rb {

	border: 2px solid Red;

}

.tlog {

	height: 33px;

	padding-right: 5px;

	background-color: #FFF;

}

.toplogbut {

	border: 0px;

	background-color: #2F820C;

	color: #FFF;

	padding: 0px 4px 0px 4px;

}

.but {

	border: 0px;

	background-color: #2F820C;

	color: #FFF;

	padding: 4px 8px 4px 8px;

}

h1 {

	color: #FFF;

	font-size: 36px;

}

.dmenu {

	width: 250px;

	min-height: 25px;

	border-top: 1px solid #FFF;

}

.bottom {

	border-top: 7px solid #e9e9e9;

	height: 80px;

	background-color: #9c9c9c;

	padding-left: 15px;

	float:left; 

	width:99%; 

	text-align:left;

}

.copyright { 

padding-top: 10px;

color: #FFF;

font-size: 12px;

}

.dashCats ul {

	padding-left: 25px;

}

.dashCats li {

	line-height: 20px;

}

/* Newly Added CSS for the content section - 10th June */

/* Sign Up Form - Starts */

.signup_container{

	width:320px; 

	float:left;

}

.content_input{

 	width: 250px;

}

.signup_city{

	width: 150px;	

}

.signup_city_dropdown{

	width: 80px;

}

.asterik{

	color: Red;

}

.float_left{

	float: left;

}

.submit_button{

	float:left;

	width:600px;

}

.horizontal_line{

	border: 1px solid #fd670b; 

	width: 100%; 

	margin: 10px 0px 10px 0px; 

	float:left;

}

/* SignUp form ends */

/* Postad.php page CSS start */

.type_edit{

 	width:150px; 

	float:left; 

	height:150px;

}

.postad_seperator{

	float:left; 

	width:800px;

}

.padding_3px{

	padding-top: 3px;

}	

.padding_top_10px{

	padding-top:10px;

}

.input_postad{

 	width: 150px;

}

.input_postad_300{

 	width: 300px;

}

.blank_div{

	width:100%;

	float:left;

}

/* postad.php page CSS ends */

/* Profile.php page CSS start */

.profile_container{

	border: 1px solid #fd670b; 

	padding: 5px; 

	float:left; 

	width:98%;

}

.left_column_profile{

	float:left; 

	width:49%;

	line-height: 22px;

}

.photo_div{

	float:left; 

	width:20%;

}

.profile_content_div{

	float:left; 

	width:79%

}

.padding_bottom_10{

	padding-bottom: 10px;

}

/* Profile.php page CSS end */

/* news.php page CSS start */

.padding_bottom_20{

	padding-bottom: 20px;

}

.news_content{

	line-height: 19px; 

	font-size: 12px; 

	text-align: justify;

}

/* news.php page CSS end */

/* myads.php page CSS start */

.myads_container{

   width:80%; 

   float:left;

}

.myads_photo_div_header{

	float:left; 

	width:100px;

	padding:4px;

	border-right:0;

}

.myads_title_header{

	float:left;

	padding:4px;

	border-right:0

}

.myads_price_header{

	float:left; 

	width:85px; 

	text-align:center;

	padding:4px;

	border-right:0;

}

.myads_date_header{

	float:left; 

	width:85px;

	padding:4px;

	border-right:0; 

	text-align:center;

}

.myads_action_header{

	float:left; 

	width:85px;

	padding:4px; 

	text-align:center;

}

.myads_photo_div_content{

	float:left; width:100px;padding:4px;border-right:0; height:90px;border-top:0

}

.myads_title_content{

	float:left;

	padding:4px;

	border-right:0;

	height:90px;border-top:0;

}

.myads_price_content{

	float:left; 

	width:85px; 

	text-align:center;

	padding:4px;

	border-right:0;

	height:90px;

	border-top:0

}

.myads_date_content{

	float:left; 

	width:85px;

	padding:4px;

	border-right:0; 

	text-align:center;

	height:90px;

	border-top:0

}

.myads_action_content{

	float:left; 

	width:85px;

	padding:4px; 

	text-align:center;

	height:90px;

	border-top:0

}

/* myads.php page CSS end */

/* login.php page CSS start */

.login_container_main{

	width:100%; float:left; text-align:center; padding-top:20px;

}

.login_label{

	width:43%;float:left; text-align:right;

}

.login_input{

	width:56%;float:left; text-align:left;

}

/* login.php page CSS end */

/* dashboard.php page CSS start */

.dashboard_left_column{

	float:left; width:325px; vertical-align:top; padding-bottom:20px;

}

.dashboard_right_column{

	float:right; width:160px; vertical-align:top;

}

.padding_top_15px{

	padding-top:10px;

}

.map_container{

	float:left; width:550px; vertical-align:top;

}

.map_canvas{

	width: 500px; height: 400px;

}

.map_content{

	float:left; width:250px; vertical-align:top;

}

/* dashboard.php page CSS end */

/* classified.php page CSS start */

.images_container{

	float:left;

	width:150px; 

	height:150px; 

	text-align:center;

}

.padding_top_20{

	padding-top: 20px;

}

.left_column_classified{

	width:75%; 

	float:left;

}

.right_column_classified{

	width:24%; 

	float:left;

}

.map_canvas_classified{

	width: 500px; 

	height: 400px; 

	border: 1px solid #fd670b; 

	padding: 3px;

}

.classified_right_column{

	float:right; width:160px; vertical-align:top;

}

/* New CSS add on 22rd June. Take note on .myads_container class  */

/*Seller Contact Form*/

.line_seperator{

	clear:both;

}

.images_div{

	border: 1px solid #fd670b; padding: 3px;

}

.myads_title_header_width_305{

 	width: 305px;

}

/* Added on 11th July */

.myads_container1{

   width:100%; 

   float:left;

}

.bld{

	font-weight:bold;

	font-size: 12px;

}

.featured_ads{

	font-weight:bold;

	font-size: 12px;

	background-color:#CCCCCC;

}

.padding_top_20px li span

{

	font-size: 11px;

}

.addthis_toolbox { float:left; }